<a href="https://colab.research.google.com/github/Dominic-Virtucio/DSA-CpE-010-CpE12S4/blob/main/Exercise_3_DSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def AreaCircle(r):
  pi = 3.1416
  return pi * (r*r);

print("Area is %.3f" % AreaCircle(5))

Area is 78.540

In [ ]:
#Accessing the Elemnts in the array
animals = ['cat', 'monkey', 'dog', 'fish']
x = animals[0]
print(x)

cat

In [ ]:
#Modifying the Elemnts in the array
animals = ['cat', 'monkey', 'dog', 'fish']
animals[0] = 'monkey'
x = animals[0]
print(x)

monkey

In [ ]:
#Lenghth of the array
animals = ['cat', 'monkey', 'dog', 'fish']
animals[0] = 'monkey'
x = len(animals)
print(x)

4

In [ ]:
#Looping Arrays
animals = ['cat', 'monkey', 'dog', 'fish']
for x in animals:
    print(x)

cat
monkey
dog
fish

In [ ]:
#Remove an item in the arra lists
animals = ["monkey", "cat", "dog", "fish"]
animals.pop(2)
print(animals)

['monkey', 'cat', 'fish']

In [ ]:
#Inserting an animal in a specific location using insert()
animals = ["monkey", "cat", "dog", "fish"]
animals.insert(3,"hamster")
print(animals)

['monkey', 'cat', 'dog', 'hamster', 'fish']

In [ ]:
#Reverse all items in the list using  reverse()

animals = ["monkey", "cat", "dog", "fish"]
animals.reverse()
print(animals)

['fish', 'dog', 'cat', 'monkey']